* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px
}

header {
    padding: 10px 0px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    background-color: #1f2937;
    padding: 100px 0px;
    display: flex;
    justify-content: space-around;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    max-width: 350px;
}

.hero p {
    margin: 5px 0px;
    color: #e5e7eb;
    font-size: 18px;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 10px;
}

img {
    height: 250px;
    width: auto;

}

.information {
    margin: 50px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.information h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.card {
    font-size: 18px;
    font-weight: bold;
    color: #868686;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    margin: 10px;
    font-weight: 500;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.card img {
    border: #3882f6 5px solid;
    border-radius: 10px;
}